html, body {
  width: 260px;
}

.popup-content {
  padding: 10px;
  text-align: center;
}

.popup-content > .actions {
  display: flex;
  flex-direction: row;
}

.popup-content > .actions > * {
  margin: 3% auto;
  padding: 4px;
  font-size: 1.2em;
}
